<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.songhaiqing.walle.gallery"
    >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".GalleryActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.songhaiqing.walle.gallery.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/walle_gallery_file_paths"/>
        </provider>
    </application>
</manifest>
